*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





#logo-img{
    width: 100px;
    height: 100px;
    float: left;
}

#nav1{
    background-color: #ffc107;
    border:0px;
    border-radius: 0px;
    margin-bottom: 15px;
}
/* for heading */
#h1he{
    text-align: center;
    font-size: 5vw;
    color: #dc3545;
  
}
#bty{
    margin-top: 5vw;
margin-left: 28vw;
    margin-bottom: 5vw;
}





/* for crousel image */
.cra{
    width: 100%;
    height: 300px;
}
/* video*/
#vide{
    margin-top: 20px;
}
=======
.img-fluid{
  width=60%;
}

