/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background-wrap {
    position: fixed;
    z-index: -1000;
    width: 100%;
    height: 70%;
    overflow: hidden;
    top: 0;
    left: 0;
}

#video-bg-elem {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 70%;
    min-width: 100%;
}


.header{
    position: absolute;
	width: 100%;
	min-height: 100%;
	z-index: 1000;
}

#logo-img{
    width: 100px;
    height: 100px;
    float: left;
}



#nav1{
    opacity: 0.8;
}

#bty{
    margin-top: 5vw;
    margin-left: 28vw;
    margin-bottom: 5vw;
}



.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .searchbox {
    position: relative;
    display: block;
    width: 100%;
    max-width: 53px;
    transition: 0.4s linear;
    overflow: hidden;
  }
  .container .searchbox .searchbox__input {
    display: block;
    appearance: none;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #24233A;
    padding: 15px;
    color: #24233A;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s linear;
  }
  .container .searchbox .searchbox__input::placeholder {
    color: #24233A;
  }
  .container .searchbox .searchbox__icon {
    position: absolute;
    right: calc(53px / 2);
    top: 50%;
    transform: translate(50%, -50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
  }
  .container .searchbox .searchbox__icon path {
    fill: #00F494;
    transition: 0.4s linear;
  }
  .container .searchbox:focus-within {
    max-width: 300px;
  }
  .container .searchbox:focus-within .searchbox__input {
    background-color: #FFF;
    padding-right: 50px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
  }
  .container .searchbox:focus-within .searchbox__icon path {
    fill: #24233A;
  }




.cra{
    width: 100%;
    height: 300px;
}

.img-fluid{
  width:60%;
}



 */


 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#pageloader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url("https://media.giphy.com/media/l0He4fJxPCbfqv7Xi/giphy.gif")
no-repeat center;
    z-index: 99999;
}



#logo-img{
  width: 100px;
  height: 100px;
  float: left;
}

#nav1{
  background-color: #ffc107;
  border:0px;
  border-radius: 0px;
  margin-bottom: 15px;
}
/* for heading */
#h1he{
  text-align: center;
  font-size: 5vw;
  color: #dc3545;

}
#bty{
  margin-top: 5vw;
margin-left: 28vw;
  margin-bottom: 5vw;
}





/* for crousel image */
.cra{
  width: 100%;
  height: 300px;
}
/* video*/
#vide{
  margin-top: 20px;
}

.img-fluid{
width:60%;
}


/* footer css */
footer h6{
  font-weight: 300;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}
footer h6:before{
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 1px solid gold;
}


.footer-social-links{
  background-color: #2e3a3fd7;
  margin-top: 50px;
}
.new-footer{
  background-color: darkslategrey;
  color: white;
  width: 100%;
}


.social-media{
  display: flex;
  justify-content: center;
  padding: 0px;
}
.social-media ul{
  list-style: none;
  margin: 2px;
}
.social-media ul li{
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 20px;
  background-color: rgb(49, 38, 38);
  border-radius: 50%;
  margin-right: 20px;
}
.social-media ul li i{
  color: white;
  font-size: 24px;
  line-height: 20px;
  text-align: center;
}
.social-media ul li:nth-child(1):hover{
  background-color: #3b5999;
}
.social-media ul li:nth-child(2):hover{
  background-color: #55acee;
}
.social-media ul li:nth-child(3):hover{
  background-color: #dd4b39;
}
.social-media ul li:nth-child(4):hover{
  background-color: #0077B5;
}
.social-media ul li:nth-child(5):hover{
  background-color: #ea4c89;
}

.products p a{
  color: white;
  text-decoration: none;
  position: relative;
  
}
.products p a::after{
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  right: 0;
  bottom: -10px;
  background-color: gold;
  transition: all .3s;
}
.products p a:hover::after{
  width: 100%;
}

.useful-links p a{
  color:white;
  text-decoration: none;
  position: relative;
}
.useful-links p a::after{
  content:'';
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  right: 0;
  bottom: -10px;
  background-color: gold;
  transition: all .3s;
}

.useful-links p a:hover::after{
  width: 100%;
}

@media (max-width:500px){
  .social-media{
    display: flex;
    justify-content: center;
    padding: 0px;
}
.social-media ul{
    list-style: none;
    margin: 2px;
}
.social-media ul li{
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: rgb(49, 38, 38);
    border-radius: 50%;
    margin-right: 10px;
}
.social-media ul li i{
    color: white;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}
.social-media ul li:nth-child(1):hover{
    background-color: #3b5999;
}
.social-media ul li:nth-child(2):hover{
    background-color: #55acee;
}
.social-media ul li:nth-child(3):hover{
    background-color: #dd4b39;
}
.social-media ul li:nth-child(4):hover{
    background-color: #0077B5;
}
.social-media ul li:nth-child(5):hover{
    background-color: #ea4c89;
}

}