.jumbotron{
    height: 500px;
    
}
.display-4{
    color: white;
    
}
.lead{
    color:white;
    font-size: 30px;
}

.jumbo-img{
    background: url(../../../images/semPage.jpg);
    background-size: 100% 100%;
    
}

body{
    font-family: ''Arial, Helvetica, sans-serif
    
}
.card{
    border-radius: 4x;
    background-color: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,0.8),0 0 6px rgba(0,0,0,0.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;

}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba( 0,0,0,0.06);
}
.card h3{
    font-weight: 600;

}

.card img{
    position: absolute;
    top: 20px;
    right:15px;
    max-height: 120px;
}
.card-1{
    background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
    margin: 20px;
}

.card-2{
    background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
    margin: 20px;
}

.card-3{
    background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
    margin: 20px;
}

@media(max-width:990px){
    .card{
        margin: 20px;
    }
}

/* footer css */
footer h6{
    font-weight: 300;
      display: inline-block;
      padding-bottom: 5px;
      position: relative;
  }
  footer h6:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid gold;
  }
  
  
  .footer-social-links{
    background-color: #2e3a3fd7;
    margin-top: 50px;
  }
  .new-footer{
    background-color: darkslategrey;
    color: white;
    width: 100%;
  }
  
  
  .social-media{
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  .social-media ul{
    list-style: none;
    margin: 2px;
  }
  .social-media ul li{
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 20px;
    background-color: rgb(49, 38, 38);
    border-radius: 50%;
    margin-right: 20px;
  }
  .social-media ul li i{
    color: white;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
  }
  .social-media ul li:nth-child(1):hover{
    background-color: #3b5999;
  }
  .social-media ul li:nth-child(2):hover{
    background-color: #55acee;
  }
  .social-media ul li:nth-child(3):hover{
    background-color: #dd4b39;
  }
  .social-media ul li:nth-child(4):hover{
    background-color: #0077B5;
  }
  .social-media ul li:nth-child(5):hover{
    background-color: #ea4c89;
  }
  
  .products p a{
    color: white;
    text-decoration: none;
    position: relative;
    
  }
  .products p a::after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    right: 0;
    bottom: -10px;
    background-color: gold;
    transition: all .3s;
  }
  .products p a:hover::after{
    width: 100%;
  }
  
  .useful-links p a{
    color:white;
    text-decoration: none;
    position: relative;
  }
  .useful-links p a::after{
    content:'';
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    right: 0;
    bottom: -10px;
    background-color: gold;
    transition: all .3s;
  }
  
  .useful-links p a:hover::after{
    width: 100%;
  }
  
  @media (max-width:500px){
    .social-media{
      display: flex;
      justify-content: center;
      padding: 0px;
  }
  .social-media ul{
      list-style: none;
      margin: 2px;
  }
  .social-media ul li{
      display: inline-block;
      width: 40px;
      height: 40px;
      padding: 10px;
      background-color: rgb(49, 38, 38);
      border-radius: 50%;
      margin-right: 10px;
  }
  .social-media ul li i{
      color: white;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
  }
  .social-media ul li:nth-child(1):hover{
      background-color: #3b5999;
  }
  .social-media ul li:nth-child(2):hover{
      background-color: #55acee;
  }
  .social-media ul li:nth-child(3):hover{
      background-color: #dd4b39;
  }
  .social-media ul li:nth-child(4):hover{
      background-color: #0077B5;
  }
  .social-media ul li:nth-child(5):hover{
      background-color: #ea4c89;
  }
  
  }